<div wrapper>
  <header>
    <h2 mono>latter-day dev</h2>
    <h1 mono ldd>ldd</h1>
  </header>
  <main>
    
    <div half>
      <div panel>
        <h2 mono>Faça Parte do LDD no <a href="https://discord.com/invite/RRGUWR5j" target="_blank">Discord</a></h2>
        <p>Sendo aspirante, aluno, júnior ou sênior, você é convidado a fazer parte do Latter-Day Dev. Nosso grupo é formado por pessoas como você, que desejam aprender, aprimorar, ensinar e tornar o desenvolvimento de software mais acessível e amigável.</p>
        <p>Ah, antes que eu esqueça, convide seus amigos devs também!</p>
        <br><br>
        <a button mono href="https://discord.com/invite/RRGUWR5j" target="_blank">
          Aceita meu convite aí
        </a>
      </div>
    </div>

    <div>
      <div contain class="media">
        <img laptop src="../assets/laptop.svg" alt="laptop vector">
        <img webpage  src="../assets/webpage.svg" alt="webpage vector">
      </div>
    </div>

    <div half>
      <div panel>
        <h2 mono>Missão</h2>
        <ul>
          <li>Apoiar o aprendizado e a autossuficiência.</li>
          <li>Orientar na busca por um emprego como desenvolvedor.</li>
          <li>Promover a troca de ideias e experiências.</li>
          <li>Fortalecer a comunidade de desenvolvedores no Brasil.</li>
          <li>Fazer nossa parte para um mundo melhor.</li>
        </ul>
        <br><br>
        <a mono button href="https://discord.com/invite/RRGUWR5j" target="_blank">
          Aceita meu convite aí
        </a>
      </div>
    </div>

  </main>
  <footer flex center>
    <a href="https://discord.com/invite/RRGUWR5j" target="_blank">
      <img icon src="../assets/discord_icon_arrow.svg" alt="">
    </a>
  </footer>
</div>